Library/PackageCache/com.unity.burst/.Runtime/*.dll
Library/PackageCache/com.unity.burst/.Runtime/*.dylib
Library/PackageCache/com.unity.burst/.Runtime/*.so
Library/PackageCache/com.unity.burst/.Runtime/dsymutil
